@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#ans{
  width: 800px;
  height:370px;
  background-color: rgba(65, 65, 65, 0.277);
  border-radius: 10px;
  color:white;
  padding: 18px;
}
#input{
  padding: 10px;
  /* background-color: white; */
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  background-color: rgba(65, 65, 65, 0.277);
}
#cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  width: 100%;
  margin-top: 10px;
  /* border-radius: 0%; */
}
#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  /* height: max-content; */
  min-height: 100%;
 
 /* Button */ 

 .btn {
  border: none;
  width: 11em;
  height: 3.2em;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #272727;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #ebebeb;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #ebebeb;
  font-size: large;
}

.btn:hover {
  background: linear-gradient(0deg,#7cf3d9,#4a3fea);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 4px rgba(255, 255, 255, 0.2),
  0px 0px 180px 0px #2617ff;
  transform: translateY(-2px);
}

.btn:hover .text {
  color: white;
}

.btn:hover .sparkle {
  fill: white;
  transform: scale(1.2);
}  
}

@media screen and (max-width: 800px) {
  #main{
    height: 100%;
    /* width: 100vw; */
    min-width: 100%;
  }
  #ans{
    width: 100%;
    /* height:370px; */
    min-width: 95vw;
  }  
  #cont{
    width: 100vw;
  }
}
@media screen and (max-width:500px) {

  #main{
    padding: 5px;
    background-color: #000000f0;
    
  }
 #ans{
  padding: 10px;
  /* max-height: 300px; */
  /* background-color: transparent; */

 }
  
}
@media screen and (max-width:390px) {


}


#main {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#ans {
  height: 50vh;
  min-height: 50vh;
  max-height: 50vh;
  overflow-y: auto;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#cont {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


